body{
    background-size: cover;
}

#heading{
    width:100%;
    font-family: monospace;
    text-align: left;
}

#heading h3{
    display: inline;
    font-size: 25pxs;
}

.ins{
    float: right;
    border: 2px #000 solid;
}

#start,#status,#restart{
    border: 2px #000 solid;
}

#copyright_footer{
    background-color: rgb(69, 160, 160);
    color:#fff;
    font-family: monospace;
    font-size: 20px;
    bottom:0;
    position: fixed;
    width: 100%;
}

canvas{
    border-radius: 5px 5px 10px pink;
}